.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.filler {
  padding-bottom: 15%;
}
.home {
  background-color: rgb(243, 243, 243);
  box-sizing: border-box;
  position: relative;
  size: fixed;
  top: 2rem;
  margin: auto;
  width: 70%;
  height: 35rem;
  text-align: center;
  border: 2px solid rgb(4, 4, 90);
  padding: 10px;
}

.uno-reverse-card {
  max-width: 500px;
  max-height: 500px;
  position: relative;
}

.join-server {
  position: relative;

  font-weight: 500;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  background-color: rgb(4, 4, 90);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 20px;
  transition: 0.5s;
}
.join-server:hover {
  letter-spacing: 0.2em;
}

.create-server {
  position: relative;
  font-weight: 500;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  background-color: rgb(4, 4, 90);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 20px;
  transition: 0.5s;
}

.buttons {
  position: relative;
  bottom: 12rem;
  display: inline-block;
}

.button {
  list-style: none;
  margin: 40px 0;
}
.create-server:hover {
  letter-spacing: 0.1em;
}

.buttons li.button {
  float: bottom;
}

@media (max-width: 1311px) {
  .home {
    height: auto;
  }
  .uno-reverse-card {
    text-align: center !important;
  }
  .buttons {
    bottom: 0rem;
  }
}
